<div class="center jumbotron">
  <div class="main-img">
    学生間での助け合い
    <img src="../../assets/images/72538c8c0f532ef4944991779acd2672_m.jpg">
  </div>
  <div>
    <% if false %>
    <div class="searchbox" style="padding-top:50px">
      <%= search_form_for(@q, url: root_url) do |f| %>
        <div class="form-group">
          <%= f.label :name_cont, "商品名検索" %>
          <%= f.search_field :name_cont, class: "form-control", placeholder: 'お探しの商品名を入力してください。' %>
        </div>
        
        <div "form-group" style="display:block">
          <span>
          <%= f.label :genres_id_in, 'ジャンル検索' %>
          <%= f.collection_check_boxes :genres_id_in, @genres, :id, :name %>
          </span>
        </div>
        
        <div class="action">
          <%= f.submit "この条件で検索する", class: 'btn btn-success btn-xs' %>
        </div>
      <% end %>
    </div>
  </div>  
  <!--検索結果を表示-->
  <div class="result_search">
    <p>この条件で検索しています</p>
    <% unless params[:q][:name_cont].empty? %>
        <p>商品名：<%= params[:q][:name_cont] %></p>
    <% end %>  
    <br>
    <% unless params[:q][:genres_id_in].reject(&:blank?).empty? %>
        <p>カテゴリー：<%= params[:q][:genres_id_in].reject(&:blank?).map{|genre_id| Genre.find(genre_id).name}.join(', ') %></p>
    <% end %>
  </div>
  <% end %>
  <%= render "microposts/micropost", microposts: @result_microposts %>
</div>
