<h2>
  <%= @user.display_name %>との相談ルーム
  <br>
  <p class="want">買うときはまず何が欲しいのか相手に伝えましょう。</p>
</h2>
<!--ユーザー間に関するすべてのメッセージが@all_messagesに入っており、送信メッセージか受信メッセージをそれぞれについて判別しclassを振り分けている-->
<% @all_messages.each do |message| %>
  <div class="<%= "message message--received" if message.user_id == @user.id %> <%= "message message--sent" if message.user_id == current_user.id %>">
    <div class="message__profile">
      <%= image_tag message.user.picture.thumb.url, class: "img-circle" %>
    </div>
    <div class="message__body">
      <% if false %>
      <div class="message__user-name">
        <%= link_to message.user.display_name, user_path(message.user.id) %>
      </div>  
      <% end %>
      <div class="message__text">
        <%= message.content %>
      </div>
      <div class="message__info">
         <span class="text-muted <%= "received_message_time" if message.user_id == @user.id %> <%= "sent_message_time" if message.user_id == current_user.id %>"><%= message.created_at.strftime('%y/%m/%d %H:%M') %></span>
      </div>
    </div>
  </div>
<% end %>
<div class="message_form">
  <div class="container">    
    <%= render 'messages/form', message: @message %>
  </div>
</div>
