<% provide(:title, 'メッセージ') %>
<h5>あなたのメッセージポスト</h5>
<!-- タブ・メニュー -->
<ul class="nav nav-tabs">
	<li class="active col-xs-6 col-md-1"><a href="#sampleContentA" data-toggle="tab">送信</a></li>
	<li class="col-xs-6 col-md-1"><a href="#sampleContentB" data-toggle="tab">受信</a></li>
</ul>

<!-- タブ内容 -->
<div class="tab-content">
	<div class="tab-pane active" id="sampleContentA">
	  <table class="table">
    	<tbody>
    	  <div class="tab-pane active" id="active_messages">
      		<tr class="active_messages info">
      		  <td>
        		  <h2>
          		  <% if @active_messages.empty? %>
          		    まだメッセージは空です。
          		  <% else %>
          		    送信したメッセージ一覧
          		  <% end %>
          		</h2>
          		<tr>
          		  <% @active_messages.each do |active_message| %>
          		  <tr><td>
          		    <div class="media-left user-img-small">
                　　<%= image_tag current_user.picture.thumb.url, class: "img-circle" %>
                  </div>
                  <div class="media-body">
                    <div>
                      あなた → <%= link_to active_message.receive_user.name,  user_messages_path(active_message.receive_user.id) %>
                      <span class="text-muted"><%= time_ago_in_words(active_message.created_at) %>前</span>
                    </div>
                    <div>
                      <%= active_message.content %>
                      <%= link_to "取り消し", user_message_path(current_user,active_message), method: :delete, data: { confirm: "本当によろしいですか？" }, class: 'btn btn-danger btn-xs' %>
                    </div>
                    <% unless @user == current_user %>
                      <%= link_to active_message.receive_user.name + "との相談ルームへ", user_messages_path(active_message.receive_user.id) %>
                    <% end %>
                  </div>
                </td></tr>
          		  <% end %>
          		</tr>
        		</td>
      		</tr>
      	</div>
    	</tbody>
    </table>
	</div>

	<div class="tab-pane" id="sampleContentB">
		<table class="table">
    	<tbody>
    	  <div class="tab-pane" id="receive_messages">
      		<tr class="receive_messages info">
      		  <td>
        		  <h2>
          		  <% if @receive_messages.empty? %>
          		    まだメッセージは空です。
          		  <% else %>
          		    受信したメッセージ一覧
          		  <% end %>
          		</h2>
          		<tr>
          		  <% @receive_messages.each do |receive_message| %>
            		  <tr><td>
            		    <div class="media-left user-img-small">
                  　　<%= image_tag receive_message.user.picture.thumb.url, class: "img-circle" %>
                    </div>
                    <div class="media-body">
                      <div>
                        <%= link_to receive_message.user.name, user_path(receive_message.user.id) %> <span class="text-muted"><%= time_ago_in_words(receive_message.created_at) %>前</span>
                      </div>
                      <div>
                        <%= receive_message.content %>
                      </div>
                      <% unless @user == current_user %>
                        <%= link_to receive_message.user.name + "との相談ルームへ", user_messages_path(receive_message.user.id) %>
                      <% end %>
                    </div>
                  </td></tr>
          		  <% end %>
        		  </tr>
      		  </td>
      		</tr>
      	</div>
    	</tbody>
    </table>
	</div>
</div>