<% provide(:title, 'パスワード再設定') %>
<h5>パスワード再設定</h5>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', user: @user %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password, "パスワード　(大・小文字・特殊文字(@,$など)・数字を各最低1文字含み、8文字以上)" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "パスワード再設定", class: "btn btn-primary" %>
      <% if Rails.env.production? %>
          <% if @show_checkbox_recaptcha %> <!--@show_checkbox_recaptcha(不正ユーザーとみなした場合trueとなり、recaptcha_tagが現れる)--!>
            <%= recaptcha_tags %>
          <% else %> <!--不正ユーザーでない場合は、普通に登録ボタンがあるのみ--!>
            <%= recaptcha_v3({ action: 'registration', text: "登録する", class: "btn btn-info  col-xs-12", data: { disable_with: "送信中..." } }) %>
          <% end %>
          <%#= invisible_recaptcha_tags({ text: "登録する", class: "btn btn-info  col-xs-12", data: { disable_with: "送信中..." } }) %>
        <% end %>
    <% end %>
  </div>
</div>