<% provide(:title, "パスワード再設定確認メール") %>
<h5>パスワード再設定</h5>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "再設定メール送信", class: "btn btn-primary" %>
      <%# if Rails.env.production? %>
          <%# if @show_checkbox_recaptcha %> <!--@show_checkbox_recaptcha(不正ユーザーとみなした場合trueとなり、recaptcha_tagが現れる)--!>
            <%#= recaptcha_tags %>
          <%# else %> <!--不正ユーザーでない場合は、普通に登録ボタンがあるのみ--!>
            <%= f.submit "登録する", class: "btn btn-info  col-xs-12", data: { disable_with: "送信中..." } %>
            <%#= recaptcha_v3({ action: 'registration', text: "登録する", class: "btn btn-info  col-xs-12", data: { disable_with: "送信中..." } }) %>
          <%# end %>
          <%#= invisible_recaptcha_tags({ text: "登録する", class: "btn btn-info  col-xs-12", data: { disable_with: "送信中..." } }) %>
        <%# end %>
    <% end %>
  </div>
</div>