
<% provide(:title, "プロフィール編集") %>
<h3>プロフィール編集</h3>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@user, html: { multipart: true }) do |f| %>
      
      <span class="picture　col-xs-12 col-md-6 ">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png',id: 'picture' %>
        <div class="user-img">  
          <%= image_tag @user.picture.thumb.url, class: "img-circle", id: "preview" %>
        </div>  
      </span>
      <div class="col-xs-12 col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "○○字以内", class: 'form-control' %>
  
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.submit "更新する", class: "btn btn-primary col-xs-12 col-md-offset-3 col-md-6", data: { disable_with: "送信中..." } %>
      </div>
      
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
  
  $('#picture').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
  });
</script>