<% provide(:title, 'お気に入り一覧') %>
<% if false %>
  <h5>マイページ</h5>
  <div class="row">
    <aside class="col-xs-12">
        <div class="col-xs-12 col-md-4 left-nav">
          <% if @user == current_user %>
            お知らせ一覧
          <% end %>
        </div>
      <div class="col-xs-12 col-md-4 user-info">
        <div class="user-img">
        　　<%= image_tag current_user.picture.thumb.url, class: "img-circle" %>
        </div>
        <h1>
          <%= current_user.display_name %>
        </h1>
      </div>
        <div class="col-xs-12 col-md-4 right-nav">
          <% if @user == current_user %>
            <table class="table table-hover">
              <thead>
                <th>お役立ちリンク</th>
              </thead>
              <tbody>
                <tr><td><%= link_to "お気に入りした商品", likes_user_path(current_user)%></td></tr>
                <tr><td><%= link_to "メッセージ一覧", messages_your_message_path %></td></tr>
                <tr><td><%= link_to "ログアウト", logout_path, method: :delete %></td></tr>
              </tbody>
            </table> 
          <% end %>
        </div>
    </aside>
<% end %>    
  <div class="col-xs-12">
    <% if @user.microposts.any? %>
      <h5>お気に入り一覧 <%= current_user.likes.count %>件</h5>
      <ol class="microposts">
        <%= render "microposts/micropost", microposts: @likes %>
      </ol>
      <%= will_paginate @likes %>
    <% end %>
  </div>
</div>