<% if @user == current_user && logged_in? %>
  <% provide(:title, "マイページ")%>
<% else %>
  <% provide(:title, @user.name+"のマイページ") %>
<% end %>  
<% if current_user == @user %>
  <h5>マイページ</h5>
<% else %>
  <h5>ユーザー詳細ページ</h5>
<% end %>
<div class="row">
  <aside class="col-xs-12">
      <div class="col-xs-12 col-md-4 left-nav">
        <%# if @user == current_user %>
          <!--お知らせ一覧-->
        <%# end %>
      </div>
    <div class="col-xs-12 col-md-4 user-info text-center">
      <div class="user-img text-center">
      　　<%= image_tag @user.picture.thumb.url, class: "img-circle" %>
      </div>
      <% if @user == current_user %>
        <a href="<%= edit_user_path(current_user) %>" class="icon" role="button"><span class="glyphicon glyphicon-cog" aria-hidden="true">プロフィール設定</span></a>
      <% end %>
      <h1>
        <div class = "<%= "male" if @user.gender == "男" %> <%= "female" if @user.gender == "女" %>">
          <%= render "user_name", user: @user %>
          <% if logged_in? %>
            <% if current_user.admin? && !current_user?(user) %>
              | <%= link_to "ユーザー削除", user, method: :delete,
                                            data: { confirm: "本当にいいですか?" } %>
            <% end %>
          <% end %>  
        </div>
        <br>
        <div class="profile-inner">
          <div class="profile-group">
            <div class="title">
              学年: <%= @user.grade %>
              <br><br>
              所属：<%= @user.college.name %>
            <div>
          </div>
        </div>  
      </h1>
      <% if logged_in? %>
        <% unless @user == current_user %>
          <%= link_to @user.name + "との相談ルームへ", user_messages_path(@user) %>
        <% end %>
      <% end %>  
    </div>
      <div class="col-xs-12 col-md-4 right-nav">
        <% if @user == current_user %>
          <table class="table table-hover">
            <thead>
              <th>お役立ちリンク</th>
            </thead>
            <tbody>
              <tr><td><%= link_to "お気に入りした商品", likes_user_path(current_user)%></td></tr>
              <tr><td><%= link_to "メッセージ一覧", your_message_user_messages_path(current_user.id) %></td></tr>
              <tr><td><%= link_to "アプリ概要", about_path %></td></tr>
              <tr><td><%= link_to "アプリの使い方", guide_path %></td></tr>
              <tr><td><%= link_to "よくある質問", help_path %></td></tr>
              <tr><td><%= link_to "お問い合わせ", contact_index_path %></td></tr>
              <tr><td><%= link_to "ログアウト", logout_path, method: :delete %></td></tr>
            </tbody>
          </table> 
        <% end %>
      </div>
  </aside>
  <div class="col-xs-12">
    <% if @user.microposts.any? %>
      <% if @user == current_user && logged_in? %>
      <h5>あなたの出品物一覧 (<%= @user.microposts.count %>件)</h5>
      <% else %>
      <h5><%= @user.name %>の出品物一覧 (<%= @user.microposts.count %>件)</h5>
      <% end %>
      <ol class="microposts">
        <%= render "microposts/micropost", microposts: @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>





