<% provide(:title, '商品詳細') %>

<!--名前設定-->
<% if @micropost.user.email.split("@").last.include?(@micropost.user.college.last_email) %>
  <% micropost_user_name = fa_icon("check-circle", text: @micropost.user.name)%>
<% else %>
  <% micropost_user_name = @micropost.user.name %>
<% end %>


<h5><%= @micropost.name %>の商品詳細ページ</h5>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="item-info">
      <div class="item-img">
        <div id="sampleCarousel" class="carousel slide" data-ride="carousel">
        	<ol class="carousel-indicators">
        		<li class="active" data-target="#sampleCarousel" data-slide-to="0"></li>
        		<% if @micropost.picture_1? %>
        		  <li data-target="#sampleCarousel" data-slide-to="1"></li>
        		<% end %>
        		<% if @micropost.picture_2? %>
        		  <li data-target="#sampleCarousel" data-slide-to="2"></li>
        		<% end %>
        		<% if @micropost.picture_3? %>
        		  <li data-target="#sampleCarousel" data-slide-to="3"></li>
        		<% end %>
        	</ol>
        	<div class="carousel-inner" role="listbox">
        		<div class="item active">
        			<%= image_tag @micropost.picture.url if @micropost.picture? %>
        		</div>
        		<% if @micropost.picture_1? %>
        		<div class="item">
        			<%= image_tag @micropost.picture_1.url if @micropost.picture_1? %>
        		</div>
        		<% end %>
        		<% if @micropost.picture_2? %>
        		<div class="item">
        			<%= image_tag @micropost.picture_2.url if @micropost.picture_2? %>
        		</div>
        		<% end %>
        		<% if @micropost.picture_3? %>
        		<div class="item">
        			<%= image_tag @micropost.picture_3.url if @micropost.picture_3? %>
        		</div>
        		<% end %>
        	</div>
        	<a class="left carousel-control" href="#sampleCarousel" role="button" data-slide="prev">
        		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        		<span class="sr-only">前へ</span>
        	</a>
        	<a class="right carousel-control" href="#sampleCarousel" role="button" data-slide="next">
        		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        		<span class="sr-only">次へ</span>
        	</a>
        </div>
      </div>
      <table class="table table-bordered">
        <tbody>
      		<tr>
      			<th class="active col-xs-3">商品名</th>
      			<td class="col-xs-9"><%= @micropost.name %></td>
      		</tr>
      		<tr>
      			<th class="active col-xs-3">カテゴリー</th>
      			<td class="col-xs-9"><%= @micropost.genres.map{|genre| genre.name}.join(', ') %></td>
      		</tr>
      		<tr>
      			<th class="active col-xs-3">検討価格</th>
      			<td class="col-xs-9"><%= @micropost.price %></td>
      		</tr>
      		<tr>
      			<th class="active col-xs-3">原価</th>
      			<td class="col-xs-9"><%= @micropost.cost %></td>
      		</tr>
      		<tr>
      			<th class="active">商品説明</th>
      			<td><%= @micropost.content %></td>
      		</tr>
      	</tbody>
    	</table>
    	<% if @micropost.user == current_user %>
        <% if @micropost.sold == false %>
          <%= form_for(@micropost, url: update_sold_micropost_path, html: { method: :put }) do |f| %>
            <%= hidden_field_tag :sold, true %>
            <%= f.submit "出品を締め切る", class: "btn btn-info"%>
          <% end %>
        <% else %>
          <%= form_for(@micropost, url: update_sold_micropost_path, html: { method: :put }) do |f| %>
            <%= hidden_field_tag :sold, false %>
            <%= f.submit "締め切り解除", class: "btn btn-warning"%>
          <% end %>
        <% end %>
        <br>
        <%= link_to "編集", edit_micropost_path(@micropost), class: "btn btn-success" %>
        <%#= link_to "取り消し", @micropost, method: :delete, class: "btn btn-danger",
                                           data: { confirm: "本当に取り消してよろしいですか？" } %>
      <% end %>
    	<% if false%>
      <div class="name">
        商品名：<%= @micropost.name %>
      </div>
      <div class="genre">
        カテゴリー：<%= @micropost.genres.map{|genre| genre.name}.join(', ') %>
      </div>
      <div class="price">
        検討価格：<%= @micropost.price %>
      </div>
      <div class="cost">
        原価（税抜）：<%= @micropost.cost %>
      </div>
      <div class="content">
        商品説明：<%= @micropost.content %>
      </div>
      <% end %>
      
      <% if logged_in? %>
        <% unless @micropost.user == current_user %>
          <% if @micropost.sold == false %>
            <%= link_to @micropost.user.name + "との相談ルームへ", user_messages_path(@micropost.user), class: "btn btn-info" %>
          <% else %>
            <%= @micropost.user.name %>との相談ルームは締め切られています。
          <% end %>
        <% end %>
      <% end %>  
    </div>  
  </div>
  <div class="col-xs-12 col-md-4 col-md-offset-2">
    <div class="user-info">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">出品者情報</h3>
        </div>
        <div class="panel-body user-img">
          <%= image_tag @micropost.user.picture.thumb.url, class: "img-circle" %>
          <div class="user-name panel-body">
            <%= link_to micropost_user_name, user_path(@micropost.user_id) %>
          </div>
          <div class="user_college panel-body">
            <%= @micropost.user.college.name %>
          </div>
          <div class="user-description panel-body">
            <%= @micropost.user.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>