<header class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <%= link_to image_tag("tradents-logo.jpg") , root_path, id: "logo" %>
        <span class="fa fa-repeat" onclick="window.location.reload();"></span>
        <% if logged_in? %>
            <a href="#" class="menu_btn menu-trigger">
              <span></span>
              <span></span>
              <span></span>
            </a>
            <div id="menu">
              <ul id="menu-ul">
                <li><%= link_to "お気に入りした商品", likes_user_path(current_user), class: "menu-li" %></li>
                <li><%= link_to "メッセージ一覧", messages_your_message_path, class: "menu-li" %></li>
                <li><%= link_to "アプリ概要", about_path, class: "menu-li" %></li>
                <li><%= link_to "アプリの使い方", guide_path, class: "menu-li" %></li>
                <li><%= link_to "よくある質問", help_path, class: "menu-li" %></li>
                <li><%= link_to "お問い合わせ", contact_index_path, class: "menu-li" %></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete, class: "menu-li" %></li>
              </ul>
            </div>
            <div class="menu-background"></div>
            <ul class="g-nav">
              <li class="mypage"><%= link_to "マイページ", user_path(current_user) %></li>
              <li class="search"><a href="#" data-toggle="modal" data-target="#sampleModal">検索</a></li>
              <li class="plus"><%= link_to "出品", new_micropost_path %></li>
              <li class="bell">
                <%= link_to "お知らせ", notifications_path %>
                <% if unchecked_notifications.any? %>
                  <span class="fa-stack">
                    <span class="fa fa-circle fa-stack-2x dot"></span>
                    <span class="fa fa-stack-1x notification-number"><%= unchecked_notifications.count %></span>
                  </span>
                <% end %>
              </li>
              <li class="mail">
                <%= link_to "メッセージ", messages_your_message_path %>
              </li>
            </ul>
        <% else %>
            <a href="#" class="menu_btn menu-trigger">
              <span></span>
              <span></span>
              <span></span>
            </a>
            <div id="menu">
              <ul id="menu-ul">
                <li><%= link_to "アプリ概要", about_path %></li>
                <li><%= link_to "アプリの使い方", guide_path %></li>
                <li><%= link_to "よくある質問", help_path %></li>
                <li><%= link_to "お問い合わせ", contact_index_path %></li>
                <li><%= link_to "ログイン",login_path %></li>
                <li><%= link_to "会員登録", signup_path %></li>
              </ul>
            </div>
            <div class="menu-background"></div>
          <ul class="g-nav">
            <li class="search"><a href="#" data-toggle="modal" data-target="#sampleModal">検索</a></li>
            <li class="login"><%= link_to "ログイン",login_path %></li>
            <li class="signup"><%= link_to "会員登録", signup_path %></li>
          </ul>  
        <% end %>
    </nav>
  </div>
</header>
